.container {
    position: fixed;
    top: 325px;
    left: 967px;
}

.scroll {
    overflow-y: scroll;
    height: 350px;
}

.row {
    display: flex;
    flex-direction: row;
    /* margin-right: 10px; */
}

.iconPosition {
    position: fixed;
    left: 950px;
}

.constructorElement {
    min-width: 536px;
}

.paramsWidth {
    min-width:570px; 
    max-width: 571px;
}

.cursor {
    cursor: pointer;
}